/*reset*/
* {margin: 0; padding: 0;}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

a {text-decoration: none; color: #000;}

ul {list-style: none;}

/*common css*/

html,body,main {
  height: 100%;
}

.layout {
  width: 700px;
  margin: 0px auto;
}

.ele {
  float: left;
  margin-right: 5px;
  border: 1px #ccc solid;
  position: relative;
  margin-bottom: 20px;
}

.prod {
  margin: 10px;
}

.del {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

a {
  border: 1px solid #aaa;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #fff;
}

h1 {
  margin: 10px;
  font-size: 20px;
}

.contr {
  margin-top: 20px;
}

.hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:rgba(0,0,0,0.3);
  transition: all 0.3s;
  display: none;
}

.ele.cover .hover {
  display: block;
}